body {
    background-color: #2b2b2b;
}

.ramp {
    width: 800px;
}

canvas#ramp {
    background-color: #1f1f1f;
}

.ramp-controls {
    padding: 1rem;
    border: 1px solid #0d0d0d;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.ramp-controls button {
    outline: 0;
    border: 0;
    color: #fff;
    padding: 0.33rem;
    width: 2rem;
    border-radius: 0.25rem;
    font-weight: 800;
}

button.luma {
    background-color: #dad1d1;
}

button.red {
    background-color: #ff0802;
}

button.green {
    background-color: #08c803;
}

button.blue {
    background-color: #180ede;
}